.game-controller{
    position: absolute;
    width: 90%;
    background: #00000091;
    height: 85%;
    top: 12%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-1%);
    -webkit-transform: translate(-50%,-1%);
    transform: translate(-50%,-1%); 
    text-align: center;
    border-radius: 16px;


    .showTime, .tryCount  {
        width: 13%;
        background: #fff;
        color: #000;
        padding: 5px;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    }

    .showTime {
        float: left;
        position: relative;
        left: 7px;
    }

    .tryCount {
        float: right;
        position: relative;
        right: 7px;
    }

    .model {
        width: 415px;
        height: 170px;
        background: #00000073;
        color: #fff;
        position: fixed;
        border-radius: 12px;
        transition: all 0.5s ease-in;
        transform: translateY(300%);
        &.showModel{
            transform: translate(10%, -69%);
            &span {
                letter-spacing: 10px;
                left: 15px;
                position: relative;
            }
        }

        button .MuiFab-label {
            transform: rotate(45deg);
        }

        .Button-style-change {
            width: 35px;
            height: 35px;
            background-color: #000;
        }
    }

    .guess-button {
        background: #fff;
        color: #000;
        outline: 0;
    }
}